{{ bootstrap.load_css() }}

<!-- Custom fonts for this template -->


<link href="/static/bootstrap/css/flatly.min.css" rel="stylesheet">


<div class="row h-100 justify-content-center align-items-center">
        <img src="/static/app_logo_{{config.APP_NAME}}.png" width="20px" height="20px" class="" alt="">
</div>
<br>
<div class="row h-100 justify-content-center align-items-center">
        <h2>{{app_name}} Student Reference</h2>
</div>
<div class="col-md-8">


        <h5>Reference #: {{reference.id}}</h4>
                <h5>Student: {{reference.student_name}}</h4>
                        <h5>Referee: {{reference.referee_name}} - {{reference.referee_position}}</h4>
                                <h5>Contact information: {{contact_information}}</h5>

                                <br>
                                <div class="card bg-light mb-3">
                                        <div class="card-body">

                                                {% for question, answer in data.items() %}
                                                <p class="card-text">{{answer}}</p>
                                                {% endfor %}
                                        </div>
                                </div>
</div>