{% extends "header.html" %}
{% from 'bootstrap/form.html' import render_form %}


{% block app_content %}
<link rel="stylesheet" href="/static/css/form-control-borderless.css">
<div class="container">
  <h1>Archived references</h1>
  <hr>
     
<br>
{% block body %}
 
 <a href="{{url_for('references.view_references')}}" <button class="btn btn-secondary"><i class="fa fa-chevron-left"></i> Back to active reference projects</button></a>
 <br><br>
 
  <div class="row justify-content-left">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for students or references">
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
 <br>
<h3>Archived references</h3>   
      <div class="table-responsive">
            <table summary="User references table" class="table table-bordered table-hover">
           <thead>
              <tr>
              <th>Student Name</th>
              <th>Referee</th>
        		  <th>Actions</th>
            </tr>
          </thead>
		  <tbody id="searchableTable">
			{% for reference in references %}
            <tr>
              <td>{{reference.student_name}}</td>
              <td>{{reference.referee_name}}</td>
              <td>
               <a href="{{url_for('references.view_reference_project', reference_id = reference.id)}}" class="btn btn-success btn-sm" role="button"><i class="fa fa-folder-open"></i> Open Project</a>
               <a href="{{url_for('references.view_completed_reference', reference_id = reference.id)}}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-user-edit"></i> View</a>
               <a href="{{url_for('references.view_statement_pdf', reference_id = reference.id)}}" class="btn btn-secondary btn-sm" role="button"><i class="fa fa-file-pdf"></i> PDF</a>           
               <a href="{{url_for('references.unarchive_reference_project', reference_id = reference.id)}}" <button class="btn btn-sm btn-outline-secondary"><i class="fa fa-archive"></i> Unarchive </button></a>
               <a href="{{url_for('references.delete_reference_project', reference_id = reference.id)}}" class="btn btn-danger btn-sm" role="button"><i class="fa fa-user-times"></i> Delete</a>           
              </td>
            </tr>
           {% endfor %}
          </tbody>
          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->


  </div>
   
 

{% endblock %}
</div>
{% endblock %}
