{% extends "header.html" %}
{% from 'bootstrap/form.html' import render_form %}


{% block app_content %}
<link rel="stylesheet" href="/static/css/form-control-borderless.css">
<div class="container">
    <h1><i class="fa fa-quote-right"></i> References</h1>
    <hr>
    <div class="row text-center">
        <div class="col">
            <div class="counter">
                <i class="fa fa-archive fa-2x"></i>
                <h2 class="timer count-title count-number">{{references|length}}</h2>
                <p class="count-text ">References</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-university fa-2x"></i>
                <h2 class="timer count-title count-number">{{classes|length}}</h2>
                <p class="count-text ">Classes</p>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <i class="fa fa-user-graduate fa-2x"></i>
                <h2 class="timer count-title count-number">{{student_count}}</h2>
                <p class="count-text ">Students</p>
            </div>
        </div>
    </div>
    {% block body %}

    <a href="{{url_for('references.compose_reference')}}"><button class="btn btn-outline-success m-1"><i
            class="fa fa-plus-circle"></i> Add reference</button></a>
    <a href="{{url_for('references.view_archived_references')}}"><button class="btn btn-outline-secondary m-1"><i
            class="fa fa-archive"></i> View reference archive</button></a>

    <div class="row justify-content-left">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input id="myInput" class="form-control form-control-lg form-control-borderless" type="search"
                            placeholder="Search for students or references">
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <br>
    
    <h3>Student references</h3>
    <link rel="stylesheet" href="/static/css/no-more-tables.css">
    <div class="table-responsive no-more-tables">
        <table summary="References table" class="table table-responsive table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Student Name</th>
                    <th>Referee</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="searchableTable">
                {% for reference in references %}
                <tr>
                    <td><strong>{{reference.student_name}}</strong></td>
                    <td>{{reference.referee_name}}</td>
                    <td>
                        <a href="{{url_for('references.view_reference_project', reference_id = reference.id)}}"
                            class="btn btn-outline-success btn-sm m-1" role="button"><i class="fa fa-folder-open"></i> Open
                            Project</a>
                        <a href="{{url_for('references.view_completed_reference', reference_id = reference.id)}}"
                            class="btn btn-outline-primary btn-sm m-1" role="button"><i class="fa fa-user-edit"></i> View</a>
                        <a href="{{url_for('references.view_statement_pdf', reference_id = reference.id)}}"
                            class="btn btn-outline-secondary btn-sm m-1" role="button"><i class="fa fa-file-pdf"></i> PDF</a>
                        <a href="{{url_for('references.archive_reference_project', reference_id = reference.id)}}">
                            <button class="btn btn-sm btn-outline-secondary m-1"><i class="fa fa-archive"></i> Archive
                            </button></a>
                        <a href="{{url_for('references.delete_reference_project', reference_id = reference.id)}}"
                            class="btn btn-danger btn-sm m-1" role="button"><i class="fa fa-user-times"></i> Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                </tr>
            </tfoot>
        </table>
    </div>
    <!--end of .table-responsive-->


</div>



{% endblock %}
{% endblock %}
