{% extends "header.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}

<div class="container">
{% block body %}
<br>
 <div class="container">
  <h1>{{reference.student_name}}'s reference</h1>
  <br><a href="{{url_for('references.view_references')}}" <button class="btn btn-primary"><i class="fa fa-chevron-left"></i> Back</button></a>
  <hr>
  
  <form action="{{url_for('references.submit_reference')}}" method="post">
      {{ form.csrf_token }}
  
      <div class="card">
  <div class="card-header">
    <h5> <i class="fa fa-id-card"></i> Personal information</h5>
  </div>
  <div class="card-body">

     {{render_field(form.referee_name)}}
     {{render_field(form.referee_position)}}
     {{render_field(form.contact_information)}}
    </blockquote>
  </div>
</div>  
      <hr>
      <div class="card">
  <div class="card-header">
    <h5><i class="fa fa-graduation-cap"></i> School</h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
     {{render_field(form.school_information)}}
    </blockquote>
  </div>
</div>
      
      <br>
            <div class="card">
  <div class="card-header">
    <h5><i class="fa fa-user-graduate"></i> Suitability</h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
     {{render_field(form.suitability)}}
    </blockquote>
  </div>
</div>
      <hr>
    </form>

  </div>
 

{% endblock %}
</div>
{% endblock %}
