 {% extends "header.html" %} {% block app_content %}
 <link rel="stylesheet" href="/static/css/timeline.css">
<div class="container">
    <br>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-2">
              <a href="{{url_for('references.view_references')}}" <button class="btn btn-lg btn-outline-primary"><i class="fa fa-chevron-left"></i> Back</button></a>
            </div>
            <div class="col-12 col-lg-8">
                <h1>{{title}}</h1>
            </div>
            </div>
        </div>
    </div>
    <hr>

</div>

<div class="container">
 <div class="row">
  <div class="col-xs-12 col-md-4">
  
  <div class="library_card">
 <div class="img-library_card">
  <img src="/static/thumbnails/file-blank.png" />
 </div>
 <div class="library_card-content">
  <h4 class="library_card-title">
       {{original_reference.student_name}}</h4> 
 <p>{{original_reference.referee_name}} - {{original_reference.referee_position}}</p>
 {% if form_contents.get('contact_information') != None %}
 <p>{{form_contents.get('contact_information')}}</p>
 {% endif %}
     
 </div>
  <div class="library_card-read-more">
  <a href="{{url_for('references.view_completed_reference', reference_id = original_reference.id)}}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-user-edit"></i> View</a>
               <a href="{{url_for('references.view_statement_pdf', reference_id = original_reference.id)}}" class="btn btn-secondary btn-sm" role="button"><i class="fa fa-file-pdf"></i> PDF</a>           
               <a href="{{url_for('references.delete_reference_project', reference_id = original_reference.id)}}" class="btn btn-danger btn-sm" role="button"><i class="fa fa-user-times"></i> Delete project</a>           
  </div>
</div>

</div>

<div class="col-xs-12 col-md-8">
 
<div class="container">
 {% if reference_project_array|length < 1 %}
  <div class="card bg-light mb-3 text-center">
  <div class="card-body">
    <h5 class="card-title">You haven't uploaded any versions!</h5>
    <p class="card-text">Upload a version to get started.</p>
    <a href="{{url_for('references.upload_new_reference_version', original_reference_id = original_reference.id)}}" <button class="btn btn-primary"><i class="fa fa-plus-circle"></i> Upload a new reference </button></a>
  </div>
</div>
 {% else %}
        {% for reference, user in reference_project_array %}
        <div class="card">
  <div class="card-header">
    <h5 class="timeline-title"><a href="{{url_for('references.download_reference_version', reference_version_id = reference.id)}}">{{reference.original_filename}}</a></h5>
  </div>
  <div class="card-body">
    <p class="card-text">{{reference.description}}</p>
    <a href="{{url_for('references.delete_reference_version', reference_version_id = reference.id)}}" <button class="btn btn-sm btn-warning"><i class="fa fa-trash"></i> Delete this version</button></a>
  </div>
    <div class="card-footer text-muted">
    {{reference.humanized_timestamp}} by {{user.username}}
  </div>
</div>
<br>
       {% endfor %}
    

    <div class="row justify-content-center align-items-center">
    <a href="{{url_for('references.upload_new_reference_version', original_reference_id = original_reference.id)}}" <button class="btn btn-primary"><i class="fa fa-plus-circle"></i> Upload a new version </button></a>
    </div>
    {% endif %}
</div>
</div>

</div>
</div>

{% endblock %}
